@charset "utf-8";
/* CSS Document */
/* Logo og motto*/
.Logo {
	display: block;
	margin-left: 100px;
}
.Top{
	margin-left: auto;
	margin-right:auto;
	margin-top: 20px;
	background-color:#6BBDC7;
	width: 100%;
}
.Motto {
	font-size: 20px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
.Left{
	width: 20%;
	margin-left: auto;
	margin-right: auto;
}
.Quick {
	font-size: 30px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
th {
	margin-left: auto;
	margin-right: auto;
	height: 10px;
	padding-top: -30px;
	padding-bottom: -30px;
}
/*Dropdown function - PratiskInfo*/
.dropbtn {
	background-color: #6BBDC7;
	color: black;
	font-size: 30px;
	border: none;
	padding: 16px;
	font-weight: bold;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
 	position: absolute;
  	background-color: #f1f1f1;
  	min-width: 160px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	z-index: 1;
}
.dropdown-content a {
	color:black;
	padding: 12px 16px;
  	text-decoration: none;
  	display: block;
}
.dropbtn:hover{
	background-color: #3EA0A9;
}
.dropdown:hover .dropdown-content {
	display: block;
}
