@charset "utf-8";
/* CSS Document */
/* Logo og motto*/
html, body {
	margin: 0;
	height: 100%;
}

.Top{
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	background-color:#6BBDC7;
	width: 100%;
}
.Motto {
	font-size: 20px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
.Left{
	width: 20%;
	margin-left: auto;
	margin-right: auto;
}
.Quick {
	font-size: 30px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	max-width: 10%;
}
.Hide{
	color: #6BBDC7
}
th {
	margin-left: auto;
	margin-right: auto;
	height: 10px;
	padding-top: -30px;
	padding-bottom: -30px;
}
/*Dropdown function - PratiskInfo*/
.PraInfDropDown {
	background-color: #6BBDC7;
	color: black;
	font-size: 30px;
	border: none;
	padding: 16px;
	font-weight: bold;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-contentPI {
	display: none;
 	position: absolute;
  	background-color: #f1f1f1;
  	min-width: 160px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	z-index: 1;
}
.dropdown-contentPI a {
	color:black;
	padding: 12px 16px;
  	text-decoration: none;
  	display: block;
}
.DropdownBoksPI:hover {
	background-color: #C0C0C0
}
.PraInfDropDown:hover{
	background-color: #3EA0A9;
}
.dropdown:hover .dropdown-contentPI {
	display: block;
}
/*Dropdown function - Forbered Dig*/
.ForDigDropDown {
	background-color: #6BBDC7;
	color: black;
	font-size: 30px;
	border: none;
	padding: 16px;
	font-weight: bold;
}
.FDDropdown {
	position: relative;
	display: inline-block;
}
.dropdown-contentFD {
	display: none;
 	position: absolute;
  	background-color: #f1f1f1;
  	min-width: 120px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	z-index: 1;
}
.dropdown-contentFD a {
	color:black;
	padding: 12px 16px;
  	text-decoration: none;
  	display: block;
}
.DropdownBoksFD:hover {
	background-color: #C0C0C0
}
.ForDigDropDown:hover{
	background-color: #3EA0A9;
}
.FDDropdown:hover .dropdown-contentFD {
	display: block;
}
/* CSS til Information om Influenza / Vigtig information (og delvis tids)*/
p, .list{
	font-size: 20px;
	text-align: center;
}
.influenza {
	height: 10%;
	margin-top: 3%;
	margin-right: auto;
	margin-left: auto;
}
.InfluenzaText{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"
}
#OverskriftIZ{
	font-size: 40px;
	font-family: Georgia, Arial;
	color: white;
	background-color: black;
}
/* CSS til Telefontider*/
.Tider {
	background: #BDBDBD
}
.Tider2{
	background:#D99A9B
}
#TelefonTider{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"
}
#Telefon{
	font-size: 40px;
}
/* CSS til Video*/
#Video {
	float: right;
	margin-bottom: auto;
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 240px; 
}
/* CSS til Hyppigt Besøgte Kategorier*/
#OverSkrHBK{
	margin-top: 5%;
}

#OverskriftHBK{
	color: white;
	background-color: black;
	font-size: 40px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
/* CSS til Hyppigt Besøgte Kategorier (Kategorierne selv)*/
#Kategorier{
	margin-left: auto;
	margin-right: auto;
}
.KategorierText{
	font-size: 30px;
}
/* CSS til Footer */
.footer{
	display: block;
}
.bottomdiv{
  	width: 100%;
}
.bottom {
	background-color: #8F8F8F;
	width: 100%;
}
#Adress {
	color: black;
}
#Adress:visited {
	color: antiquewhite
}
.FooterText {
	font-size: 20px;
}