@charset "utf-8";
/* CSS Document */
/* Logo og motto*/
.Logo {
	display: block;
	margin-left: 100px;
}
.Top{
	margin-left: auto;
	margin-right:auto;
	margin-top: 20px;
	background-color:#6BBDC7;
	width: 100%;
}
.Motto {
	font-size: 20px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
.Left{
	width: 20%;
	margin-left: auto;
	margin-right: auto;
}
.Quick {
	font-size: 30px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
th {
	margin-left: auto;
	margin-right: auto;
	height: 10px;
	padding-top: -30px;
	padding-bottom: -30px;
}